* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* start varaialbes */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4775;
  --section-padding: 60px;
  --section-background: #f6f6f6;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* start components */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  margin: 0;
  letter-spacing: -3px;
}
.special-heading + p {
  margin: -30px 0 0;
  text-align: center;
  color: #797979;
  font-size: 20px;
}
@media (max-width: 768px) {
  .special-heading {
    font-size: 50px;
  }
  .special-heading + p {
    margin-top: -15px;
  }
}
/* end components */
/* start header */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* vertical center */
}
.header .logo {
  width: 60px;
}
.header .links {
  position: relative;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
}
.header .links .icon span {
  margin-top: 5px;
  background-color: #333;
  height: 2px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon span:nth-child(3) {
  width: 100%;
}
.header .links ul {
  list-style: none;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 1;
  top: calc(100% + 15px);
  right: 0;
  background-color: #f5eded;
  min-width: 200px;
  display: none;
}
.header .links ul::before {
  content: "";
  position: absolute;
  top: -19px;
  right: 5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f5eded transparent;
}
.header .links:hover ul {
  display: block;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  color: #333;
  text-decoration: none;
  transition: 0.3s;
}
.header .links ul li a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}

.landing {
  background-image: url("../images/pexels-pixabay-355770.jpg");
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 320px;
  max-width: 100%;
  transform: translate(-50%, -50%);
}
.landing .intro h1 {
  color: var(--main-color);
  font-size: 50px;
  margin: 0;
  font-weight: bold;
}
.landing .intro p {
  font-size: 19px;
  line-height: 1.8;
}
/* start feature  */
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  width: 100%;
}
.features .container .feat {
  padding: 20px;
  text-align: center;
}
.features .feat i {
  color: var(--main-color);
}
.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .feat p {
  color: #777;
  font-size: 18px;
  line-height: 1.8;
}
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .container {
  margin: 0 auto;
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  width: 100%;
  margin-top: 100px;
}

.services .container i {
  font-size: 30px;
  flex-basis: 60px;
  color: var(--main-color);
}

.services-content .img img {
  max-width: 280px;
}
.services-content .img {
  position: relative;
  text-align: center;
}
.services .services-content .img::before {
  content: "";
  background-color: #2c4755;
  width: 100px;
  height: calc(100% + 100px);
  top: -50px;
  position: absolute;
  right: -4px;
  z-index: -1;
}
.services .services-content .serv {
  display: flex;
  margin-bottom: 40px;
}
.services .services-content .serv h3 {
  margin: 0 0 20px;
}
.services .services-content .serv p {
  color: #444;
  font-weight: 300;
  line-height: 1.6;
}
@media (max-width: 768px) {
  .services .services-content .serv {
    align-items: center;
    flex-direction: column;
  }
  .services .services-content .serv h3 {
    text-align: center;
  }
  .services .services-content .serv p {
    text-align: center;
  }
}
@media (max-width: 1199px) {
  .services .services-content .img {
    display: none;
  }
}
.services .services-content .serv .text {
  flex: 1;
}
/* start portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.portfolio .container {
  width: 100%;
}
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  width: 100%;
  margin-top: 100px;
}
.portfolio .portfolio-content .card {
  background-color: white;
}
.card img {
  max-width: 100%;
}
.portfolio .card .info {
  padding: 20px;
}
.portfolio .card .info h3 {
  margin: 0;
}
.portfolio .card .info p {
  color: #777;
  margin-bottom: 0;
  line-height: 1.8;
}
/* end portfolio */
/* start about  */
.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: white;
}
.about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
  }
}
.about-content .image {
  position: relative;
  width: 300px;
  height: 450px;
}
@media (max-width: 991px) {
  .about-content .image {
    margin: 0 auto 60px;
  }
}
.about .container {
  margin: 0 auto;
}
.about .about-content .image::before {
  content: "";
  background-color: #ebeced;
  width: 100px;
  position: absolute;
  height: calc(100% + 20px);
  top: -40px;
  left: -20px;
  z-index: 0;
}
.about .about-content .image::after {
  content: "";
  width: 100px;
  position: absolute;
  height: 300px;
  top: -40px;
  right: -134px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: 0;
}
@media (max-width: 991px) {
  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }
}

.about-content .image img {
  max-width: 100%;
  position: relative;
  z-index: 1;
}
.about-content .text {
  flex-basis: calc(100% - 500px);
}
.about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about-content .text hr {
  width: 50%;
  border-color: var(--main-color);
  display: inline-block;
}
.about-content .text p:last-of-type {
  color: #777;
  line-height: 2;
}
/* end about */
/* start contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.about-contact {
  text-align: center;
  margin-top: 100px;
}
.about-contact .free {
  color: #2c4755;
  font-size: 35px;
  font-weight: 800;
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.about-contact .link {
  color: var(--main-color);
  font-size: 35px;
  font-weight: 800;
  letter-spacing: -1px;
  text-decoration: none;
}
.about-contact .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
.social i {
  margin: 17px 7px 0;
  color: #2c4755;
}
footer {
  background-color: #2c4755;
  color: #fff;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}
footer span {
  color: var(--main-color);
}

/* end contact */
